/*
*{
  margin: 0%;
  padding: 0%;
} 
*/

body {
  background-color: #f4f4f4;
  color: #555;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  /* Same as above */
  font: normal 16px arial, helvetica, sans-serif;

  line-height: 1.6em;
  margin: 0%;
}

.button[type="submit"] {
  background-color: black;
  color: white;
  border: none;

  padding: 10px;
}

.button:hover[type="submit"] {
  background-color: #333;
  color: lightskyblue;
}

.fix-me {
  position: fixed;
  top: 400px;
}


.container {
  width: 80%;
  margin-left: 160px;
  margin-right: 160px;
}

.clr {
  clear: both;
}
a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: hotpink;
}

a:active {
  color: pink;
}
.box-1 {
  background-color: #333;
  color: #f4f4f4;
  border-right: 5px rebeccapurple solid;
  border-left: 5px rebeccapurple solid;
  border-top: 5px rebeccapurple solid;
  border-bottom: 5px rebeccapurple solid;
  /*Same as above */

  border-width: 3px;
  border-bottom-width: 10px;
  border-top-style: dotted;
  border: 5px rebeccapurple solid;

  padding: 20px;

  margin-top: 20px;
  margin: 20px 0;
}
.box-1 h1 {
  font-family: Tahoma;
  font-weight: 800;
  font-style: italic;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  word-spacing: 1em;
}

.box-2 {
  text-align: center;
  background-color: lightcyan;
  color: darkblue;
  border: 5px lightcoral double;
  padding: 5px;
  margin-top: 20px;
  margin: 20px 0px;
}

.categories {
  border: 1px gray solid;
  border-radius: 15px;
  padding: 32px;
}

.categories h2 {
  text-align: center;
}

.categories ul {
  padding: 0%;
  list-style: square;
  list-style: none;
}

.categories li {
  padding-bottom: 6px;
  border-bottom: dotted 1px black;
  padding-top: 6px;
  list-style-image: url("../CSS/Images/check.png");
}

.my-form {
  margin: 160px;
}
.my-form label {
  line-height: 2em;
}

.my-form.form-group {
  padding-bottom: 200px;
}

.my-form label {
  display: block;
}

input[type="text"],
.my-form textarea {
  padding: 8px;
  width: 100%;
  margin-bottom: 20px;
}

input[type="text"],
.my-form {
  margin-top: 10px;
}

.block {
  float: left;
  width: 33.3%;
  border: 1px solid lightgray;
  padding: 10px;
  box-sizing: border-box;
}

#main-block {
  float: left;
  width: 70%;
  padding: 15px;
  box-sizing: border-box;
}

#side-bar {
  float: right;
  width: 30%;
  background-color: darkgray;
  color: white;
  padding: 15px;
  box-sizing: border-box;
}

.p-box {
  width: 800px;
  height: 500px;
  border: 1px solid black;
  margin-top: 30px;
  position: relative;
  background-image: url('../CSS/Images/bgimage.jpg'); 
  background-repeat: no-repeat; 
  background-position: 100px 200px;  
  background-position: center top;  
}

.p-box h1 {
  position: absolute;
  top: 40px;
  left: 50px;
}

.p-box h2 {
  position: absolute;
  bottom: 230px;
  left: 343px;
}

.my-list li:first-child{
  background: red; 
}

  .my-list li:last-child{
  background: blue; 
}
  .my-list li:nth-child(5){
         background: yellow;
  }
  .my-list li:nth-child(even){
         background: purple;
  } 
  